/* Goodies CSS for MrKaKisen.se
Copyright Vilhelm Prytz 2017
Version: 1.4 */

/* FLOATS and GOAT BOATS :) (email me if you found this easteregg!) */
.noEdge {
  margin: 0;
  padding: 0;
}
/* LINKS */
.link:link,
.link:visited, 
.link:active,
.link2:hover {
  color: green;
  text-decoration: none;
}
.link:hover,
.link2:link,
.link2:visited,
.link2:active {
  color: black;
  text-decoration: none;
}
/* OPACITY */
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover,
.opactiyHalf {
  opacity: 0.5;
}
