/* Main CSS for MrKaKisen.se
Copyright Vilhelm Prytz 2017
Version: 1.4 */
/* BODY */
@media only screen and (width: 768px) {
  .bigImg,
  .bigImgPusher {
    min-width: 320px;
    min-height: 64px;
  }
  /* CONTENT */
  .content-section {
    width: 90%;
    margin: 0 5%;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 24px;
  }
  .welcome-about {
    width: 90%;
    min-width: 0;
    margin: 0;
  }
  .project-info{
    width: 90%;
    min-width: 0;
    margin: 0;
  }
  .services {
    width: 90%;
    min-width: 0;
    margin: 0;
  }
  .projects {
    width: 90%;
    min-width: 0;
    margin: 0;
  }
  /* FOOTER */
  .footer {
    width: 90%;
    margin: 0;
  }
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  display: block;
}
/* BIG PICTUE */
.bigImgBox {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.bigImg {
  width: 100%;
  height: 19.8vw;
  padding: 0;
  margin: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}
.bigImgPusher {
  width: 100%;
  height: 19.8vw;
  padding: 0;
  margin: 0;
  box-shadow: 0px 8px 20px #888888;
}
.bigImg,
.bigImgPusher {
  min-width: 768px;
  min-height: 153px;
}
/* CONTENT */
.content {
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  z-index: 0;
}
.content-section {
  width: 96%;
  padding: 20px 0;
  margin: 0 2%;
  overflow: auto;
  display: block;
}
.content-section .invisible {
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
h1 {
  padding: 10px 0;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  font-family: Lato;
  text-align: left;
  color: #000;
}
p {
  padding: 10px 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  font-family: Lato;
  text-align: left;
  color: #000;
}
.section-line {
  width: 100%;
  height: 1px;
  background-color: #888;
}
.welcome-about {
  width: 29%;
  min-width: 272px;
  padding: 0;
  margin: 0 1%;
  float: left;
  display: block;
}
.project-info{
  width: 30%;
  min-width: 272px;
  padding: 0;
  margin: 0 2.5%;
  float: left;
  display: block;
}
.services {
  width: 29%;
  min-width: 272px;
  padding: 0;
  margin: 0 1%;
  float: left;
  display: block;
}
.projects {
  width: 22%;
  min-width: 202px;
  padding: 0;
  margin: 0 1%;
  float: left;
  display: block;
}
/* FOOTER */
.footer {
  width: 98%;
  overflow: auto;
  padding: 0;
  margin: 0 1%;
  float: left;
  display: block;
}
