/* Mobile CSS for MrKaKisen.se
Copyright Vilhelm Prytz 2017
Version: 1.3 */

.opactiyHalf {
  width: 0;
  height: 0;
  opacity: 0;
}

.invisible {
  width: 0;
  height: 0;
  opacity: 0;
}
